@import "tailwindcss";

@theme {
    --color-primary: #6827f7;
    --color-secondary: #300454;
    --color-accent: #ffffff;
    --color-destructive: #e83030;
    --color-input: #fff;
    --primary-shadow: color-mix(in srgb, hsl(var(--color-primary)) 50%, black 50%);
    --font-display: "Bricolage", "sans-serif";
}

/* checkbox */
.threeD-checkbox {
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px red;
    border-radius: 5px;
    box-shadow: 0 0.4rem #dfd9d9;
    background-color: #eee;
    transition: all 0.3s;
}

@font-face {
    font-family: 'Bricolage';
    src: url('/fonts/BricolageGrotesque.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}